:root {
    --navbg: #9a3100;
    --h1: #9a3100;
    --head: #e7cec6;
    --tde: #ffcece;
    --tdo: #cf9684;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3 {
    margin: 10px 0;
    font-family: "Merriweather";
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}

nav {
    height: 100%;
    width: 300px;
    top: 0;
    position: fixed;
    color: #fff;
    background-color: var(--navbg);
    padding: 8px 16px;
    font-weight: bold;
    font-size: 80%;
}

nav h2 {
    padding: 0px;
    font-size: 20px;
}

nav li {
    padding: 8px 4em;
    text-indent: -3em;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 4px;
}

nav a:hover {
    color: #000;
    background-color: #fff;
}

nav .container {
    margin: 0px;
}

.main {
    margin-left: 340px;
    margin-right: 40px;
}

.title {
    font-weight: bold;
    margin-top: 50px;
    font-size: 64px;
    color: var(--head);
    padding: 0px;
}

h1, h3, h4, h5 {
    font-weight: bold;
    color:var(--h1);
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h5 {
    padding-top: 4px;
    border-top: 2px solid var(--h1);
}

table {
    font-size: 15px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    padding: 8px;
    caption-side: bottom;
}

tr:first-child {
    border-top: 3px solid var(--tdo);
    border-bottom: 3px solid var(--tdo);
}

tr:nth-child(3n+2) {
    border-bottom: 2px solid var(--tde);
}

tr:nth-child(3n+3) {
    border-bottom: 2px solid var(--tdo);
}

tr:nth-child(3n+4) {
    border-bottom: 2px solid var(--tdo);
}

th, td {
    vertical-align: top;
    width: 5%;
    padding: 2px 12px;
}

td a {
    color: var(--h1);   
}

.explain p:first-child, .standard p:first-child {
    border-top: 2px solid var(--tde);
}

.explain p, .standard p {
    font-size: 15px;
    border-bottom: 2px solid var(--tde);
}

.standard p {
    margin: 1px 20px;
    padding: 1px 20px;
}

.explain p {
    margin: 5px 20px;
    padding: 5px 20px;
}

.wide {
    width: 1200px;
}

svg {
    margin: 2em;
}

.indent {
    text-indent: 2em;
    font-size: 80%;
}

.container {
    margin-top: 50px;
    padding: 4px;
}

.explain li:first-child {
    border-top: 2px solid var(--tde);
    border-bottom: 1px solid var(--tde);
}
