:root {
    --navbg: #9a3100;
    --h1: #9a3100;
    --h3: #9a3100;
    --head: #e7cec6;
    --tde: #ffcece;
    --tdo: #cf9684;
}

table {
    table-layout: fixed;
    font-size: 75%;
    margin-left: 2em;
}

ul.explain {
    font-size: 80%;
}

th {
    width: 200px;
}

td {
    width: 200px;
}

table.bsp tr:nth-child(even) td {
    width: 100px;
    background: none;
    border: 3px solid var(--tde);
    padding: 2px 6px;
}

table.bsp tr:nth-child(odd) td {
    width: 100px;
    background: none;
    border: 3px solid var(--tdo);
    padding: 2px 6px;
}

table.bsp th {
    width: 100px;
    border: 3px solid var(--h3);
    color: var(--h3);
    background: none;
    padding: 2px 6px;
}

.wide {
    width: 1200px;
}

svg {
    margin: 2em;
}
