:root {
    --navbg: #009a31;
    --h1: #009a31;
    --head: #c6e7ce;
    --tde: #ceffce;
    --tdo: #84cf96;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3 {
    margin: 10px 0;
    font-family: "Merriweather";
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}

nav {
    height: 100%;
    width: 300px;
    top: 0;
    position: fixed;
    color: #fff;
    background-color: var(--navbg);
    padding: 8px 16px;
    font-weight: bold;
    font-size: 80%;
}

nav h2 {
    padding: 0px;
    font-size: 120%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 4px;
}

nav a:hover {
    color: #000;
    background-color: #fff;
}

nav .container {
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color:var(--h1);
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    color: #fff;
}

h3 {
    font-size: 150%;
}

h5 {
    padding-top: 4px;
    border-top: 2px solid var(--h1);
}

table {
    margin: auto;
    text-align: center;
    font-size: 80%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    padding: 8px;
    caption-side: bottom;
}

th, td {
    vertical-align: top;
    width: 5%;
    padding: 2px 6px;
}

td a {
    color: var(--h1);   
}

tr:first-child {
    border-top: 3px solid var(--tdo);
    border-bottom: 3px solid var(--tdo);
}

tr:nth-child(3n+2) {
    border-bottom: 2px solid var(--tde);
}

tr:nth-child(3n+3) {
    border-bottom: 2px solid var(--tdo);
}

tr:nth-child(3n+4) {
    border-bottom: 2px solid var(--tdo);
}

.grid td:first-child {
    border-left: 2px solid var(--tdo);
}

.grid td:nth-child(even) {
    border-right: 2px solid var(--tdo);
}

.grid2 td:nth-child(5),.grid2 th:nth-child(5) {
    border-right: 2px solid var(--tdo);
}

.links tr,.links td {
    border: 2px solid var(--tde);
}

.explain p, .standard p {
    font-size: 80%;
    border-bottom: 2px solid var(--tde);
}

.explain p:first-child, .standard p:first-child {
    border-top: 2px solid var(--tde);
}

.explain p {
    margin: 5px 20px;
    padding: 5px 20px;
}

.standard p {
    margin: 1px 20px;
    padding: 1px 20px;
}

a {
    text-decoration: none;
    color: var(--h1);
}

.main {
    margin-left: 340px;
    margin-right: 40px;
}

.title {
    font-weight: bold;
    margin-top: 50px;
    font-size: 400%;
    color: var(--head);
    padding: 0px;
}

.indent {
    text-indent: 2em;
    font-size: 80%;
}

.container {
    margin-top: 50px;
    padding: 4px;
}
