table {
    margin-left: 2em;
}

th {
    width: 200px;
}

td {
    width: 200px;
}

.c5 th {
    width: 160px;
}

.c5 td {
    width: 160px;
}

.c3 th {
    width: 266px;
}

.c3 td {
    width: 266px;
}

svg {
    margin: 2em;
}