:root {
    --navbg: #9a0031;
    --h1: #9a0031;
    --h3: #9a0031;
    --head: #e7c6ce;
    --tde: #ffcece;
    --tdo: #cf8496;
}

table {
    font-size: 75%;
    margin-left: 2em;
}

ul.explain {
    font-size: 80%;
}

th {
    width: 200px;
}

td {
    width: 200px;
}

.wide {
    width: 1200px;
}

svg {
    margin: 2em;
}
